<html>
<head>
	<title>MyCloud API PHP SDK</title>
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="72x72" href="/img/favicon-72x72.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link href="/css/mycloud.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i|Roboto+Condensed:400,700" rel="stylesheet">
	<script src="https://use.fontawesome.com/e353b17481.js"></script>
</head>
<body class="mycloud-github home-page">

	<div class="page-heading">
		<div class="heading">
			<a href="/"><img src="/img/logo_white.png" alt="MyCloud Logo"></a>
			<h1>MyCloud API PHP SDK</h1>
			<div class="buttons">
				<a href="https://github.com/devmycloud/MyCloudAPI-SDK-PHP"><span class="fa fa-github"></span> GutHub</a>
				<a href="/readme/">README</a>
				<a href="https://devmycloud.github.io/MyCloudAPI-DOC/apidocs/php/">Documentation</a>
				<a href="/downloads/mycloud-api-sdk-php-{{ $.Site.Params.binary_version }}.zip">Binary Distribution</a>
			</div>
		</div>
	</div>

	<div class="page-content">
	{{ .Content }}
	</div>

</body>
</html>
