body,html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.home-page {
}

/*
 * PAGE HEADING
 */
.page-heading {
	margin: 0px;
	background-color: #1bab84;
}
.page-heading .heading {
	margin: 0px;
	padding: 30px 0px 40px 0px;
	text-align: center;
}
.page-heading .heading img {
	height: 48px;
}
.page-heading .heading h1 {
	color: white;
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
	margin: 20px 20px 0px 20px;
	font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
}
.page-heading .heading .buttons {
	margin: 40px auto 0px auto;
}
.page-heading .heading .buttons a {
	display: inline-block;
	color: #f4f4f4;
	font-size: 12pt;
	font-weight: bold;
	padding: 10px 20px;
	margin: 10px 15px 0px 15px;
	text-decoration: none;
	border-radius: 7px;
	border: 1px solid #f4f4f4;
	background-color: transparent;
}
.page-heading .heading .buttons a span.fa {
	font-size: 15pt;
	margin-right: 4px;
	line-height: 1em;
	display: inline-block;
	vertical-align: bottom;
}
.page-heading .heading .buttons a:hover {
	color: #fff;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.15);
}

/*
 * TOP LEVEL PAGES
 */
.home-page .page-content,
.readme-page .page-content {
	max-width: 990px;
	margin: 0px auto;
	padding: 20px 40px;
}
.home-page .page-content h1,
.readme-page .page-content h1 {
	font-size: 21pt;
	text-align: left;
	margin: 20px 0px;
}
.home-page .page-content p {
	font-size: 14pt;
}
.readme-page .page-content p {
	font-size: 14pt;
}

/*
 * API DOC PAGES
 */
.api-docs .bread-crumb {
	font-size: 10pt;
	margin-bottom: 20px;
}
.api-docs .page-content {
	max-width: 990px;
	margin: 0px auto;
	padding: 20px 40px;
}
.api-docs .page-content h1 {
	font-size: 21pt;
	text-align: left;
	margin: 20px 0px;
}
.api-docs .page-content p {
	font-size: 13pt;
}
.api-docs .page-content ul {
}
.api-docs .page-content ul li {
	margin: 7px 0px 5px 0px;
}


/*
 * GLOBAL
 */
pre {
	padding: 10px 10px;
	background-color: #e8e8e8;
}

code {
	padding: 0px 7px;
	background-color: #e8e8e8;
}

dl.model-attributes {
	margin-left: 30px;
	padding: 10px 0px 10px 20px;
	background-color: #f8f8f8;
	border-left: 3px solid #1BAB84;
}
dl.model-attributes dt {
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 7px;
	font-family: monospace;
}
dl.model-attributes dd {
	font-size: 12pt;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: Montserrat, Helvetica, San-Serif;
}

@media screen and (max-width: 767px) {
	.page-heading .heading .buttons { width: 75%; padding: 10px 0px; }
	.page-heading .heading .buttons a {
		width: 40%;
		font-size: 11pt;
		padding: 9px 10px;
		margin: 10px 1% 0px 1%;
	}
}

@media screen and (max-width: 540px) {
	.page-heading .heading .buttons { width: 80%; }
	.page-heading .heading .buttons a {
		display: block;
		font-size: 11pt;
		padding: 9px 15px;
		margin: 10px auto 0px auto;
	}
}
